<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    
    <add name="WpfApp11.Properties.Settings.mobiledbConnectionString"
      connectionString="Data Source=DESKTOP-AITH347;Initial Catalog=mobiledb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
